@font-face{
    font-family: 'Fredoka';
    src: url(../assets/fonts/FredokaOne-Regular.ttf);
}
@font-face{
    font-family: 'Poppins';
    src: url(../assets/fonts/Poppins-Regular.ttf);
}
@font-face{
    font-family: 'Roboto';
    src: url(../assets/fonts/Roboto-Regular.ttf);
}

*{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    background-color: white;
    margin: 0;
    padding: 0;
    font-family:  'Roboto', 'sans-serif';
}
ol, ul {
	list-style: none;
    text-decoration: none;
}
.document-wrapper{
    max-width: 1440px;
    /* padding: 0rem 0rem !important; */
    margin: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #E1E2EF;
}
h1,h2,h3,h4,h5{
    font-family: 'Fredoka';
    color: #05204A;
}
.row .col, a{
    margin: 0;
    padding: 0;
}
.row {
    margin-right: 0px;
    margin-left: 0px;
}
.col{
    margin-right: 0px;
    margin-left: 0px;
}
.flex-row{
    display: flex;
    flex-direction: row;
}
.flex-col{
    display: flex;
    flex-direction: column;
}
.bold{
    font-weight: bold;
}
.disabled{
    pointer-events: none;
    background-color: gray !important;
}

.page-btns-section .page-tracker{
    font-size: 0rem;
}
.document-wrapper{
    height: calc(100vh - 0px);
}
.document-wrapper h1{
    font-weight: bold;
}

@keyframes slideFromLeft{
    0%{
        transform: translateX(-100%);
    };
    100%{
        transform: translateX(-0%);
    }
}
@keyframes slideFromRight{
    0%{
        transform: translateX(100%);
    };
    100%{
        transform: translateX(0%);
    }
}
@keyframes slideFromTop{
    0%{
        transform: translateY(-100%);
    };
    100%{
        transform: translateY(-0%);
    }
}
@keyframes slideFromBottom{
    0%{
        transform: translateY(100%);
    };
    100%{
        transform: translateY(0%);
    }
}

@media all and (max-width: 767px){
    .document-wrapper{
        /* height: calc(100vh - 0px); */
    }
    .document-wrapper h1{
        margin: 1rem 0rem;
        padding: 0rem;
        font-size: 1.625rem;
    }
    .result-display .character-lists-div {
        padding: 0rem 0rem 0rem 1.5rem;
    }
    .result-display .character-lists-div small{
        font-weight: bold;
    }
    #resultDisplayDiv {
        margin-top: 1.125rem;
        animation: slideFromLeft;
        animation-duration: 1s;
        transition: ease-in;
    }
    .result-display{
        height: max-content;
    }
    #resultDisplayDiv img{
        align-self: center;
    }
    #resultDisplayDiv .item-div{
        align-items: center;
        cursor: pointer;
        margin: 0.5rem 0rem;
    }
    #resultDisplayDiv .item-div .name-span:hover{
        background-color: black;
        color: white;
    }
    #resultDisplayDiv .item-div .item-number-span{
        font-size: 1rem;
        margin-right: 1.25rem;
    }
    #resultDisplayDiv .item-div .name-span{
        font-size: 1.375rem;
    }
   
    .details-wrapper{
        display: none;
    }


    .modal{
        width: 100%;
    }
    .modal .modal-body{
        justify-content: center;
        align-items: center;
        padding: 0rem 0.5rem;
        width: 100%;
    }
    .modal-body #detailsDiv{
        margin: 0rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .modal-body #detailsDiv .flex-row{
        align-items: center;
        justify-content: space-between;
    }
    .modal-body #detailsDiv .character-image-div{
        display: flex;
        justify-content: center;
        width: 100%;
    }
    #detailsDiv .character-image-div img{
        width: 100%;
    }
    .modal-body #detailsDiv .item-tag{
        margin-right: 1rem;
        font-size: 1.25rem;
    }
    .modal-body #detailsDiv .value-span{
        font-size: 1.5rem;
        font-weight: bold;
    }
    #detailsDiv .gender-value-span{
        text-transform: capitalize;
    }
}

@media all and (min-width:768px){
    .document-wrapper{
        margin: 0rem;
        padding: 1rem 1rem;
    }
    .document-wrapper h1{
        font-weight: bold;
        font-size: 2.5rem;
    }

    .result-display{
        margin-top: 0.75rem;
    }

    .character-lists-div{
        padding: 0rem 0rem 0rem 4rem;
    }
    .character-lists-div .section-heading{

    }
    .character-lists-div #resultDisplayDiv{
        /* align-items: center; */
    }
    #resultDisplayDiv img{
        align-self: center;
        justify-self: center;
    }
    #resultDisplayDiv .item-div{
        margin: 0.75rem 0rem;
        align-items: center;
    }
    #resultDisplayDiv .item-div .name-span:hover{
        background-color: black;
        color: white;
    }
    #resultDisplayDiv .item-div .item-number-span{
        margin: 0rem 1rem 0rem 0rem;
        font-size: 1.25rem;
    }
    #resultDisplayDiv .item-div .name-span{
        font-size: 1.5rem;
        font-weight: bold;
    }

    .result-display .details-wrapper{
        align-items: center;
        justify-content: center;
        padding: 1.5rem;
    }
    #detailsDiv{
        align-items: center;
        justify-content: center;
        animation: slideFromRight 1s;
    }
    #detailsDiv .character-image-div{
        height: 50%;
        justify-content: center;
        margin-bottom: 1rem;
    }
    #detailsDiv .character-image{
        width: 90%;
    }

    #detailsDiv .detailed-info-name-div{
        align-items: center;
        animation: slideFromTop 1s;
    }
    #detailsDiv .detailed-info-gender-div{
        align-items: center;

    }
    #detailsDiv .detailed-info-height-div{
        align-items: center;
        animation: slideFromBottom 1s;

    }
    #detailsDiv .item-tag{
        margin-right: 1rem;
        font-size: 1.125rem;
    }

    #detailsDiv .detailed-info-name-div .name-value-span{
        font-size: 1.5rem;
        font-weight: bold;
    }
    #detailsDiv .detailed-info-gender-div .gender-value-span{
        font-size: 1.5rem;
        text-transform: capitalize;
        font-weight: bold;
    }
    #detailsDiv .detailed-info-height-div .height-value-span{
        font-size: 1.5rem;
        font-weight: bold;
    }
}

@media all and (min-width: 991px){
    .document-wrapper{
        margin: 0rem;
        padding: 1rem 7rem;
    }
    .document-wrapper h1{
        font-weight: bold;
        font-size: 2.5rem;
    }

    .result-display{
        margin-top: 0.75rem;
    }

    .character-lists-div{
        padding: 0rem 0rem 0rem 5rem;
    }
    .character-lists-div .section-heading{

    }
    .character-lists-div #resultDisplayDiv{
        /* align-items: center; */
    }
    #resultDisplayDiv img{
        align-self: center;
        justify-self: center;
    }
    #resultDisplayDiv .item-div{
        margin: 0.75rem 0rem;
        align-items: center;
        cursor: pointer;
    }
    #resultDisplayDiv .item-div .name-span:hover{
        background-color: black;
        color: white;
    }
    #resultDisplayDiv .item-div .item-number-span{
        margin: 0rem 1rem 0rem 0rem;
        font-size: 1.25rem;
    }
    #resultDisplayDiv .item-div .name-span{
        font-size: 1.5rem;
        font-weight: bold;
    }
    .result-display .details-wrapper{
        align-items: center;
        justify-content: center;
        padding: 1.5rem;
    }
    #detailsDiv{
        align-items: center;
        justify-content: center;
        animation: slideFromRight 1s;
    }
    #detailsDiv .character-image-div{
        height: 50%;
        justify-content: center;
        margin-bottom: 0.5rem;
    }
    #detailsDiv .character-image{
        width: 85%;
    }

    #detailsDiv .detailed-info-name-div{
        align-items: center;
        animation: slideFromTop 1s;
    }
    #detailsDiv .detailed-info-gender-div{
        align-items: center;

    }
    #detailsDiv .detailed-info-height-div{
        align-items: center;
        animation: slideFromBottom 1s;

    }
    #detailsDiv .item-tag{
        margin-right: 1rem;
        font-size: 1.125rem;
    }

    #detailsDiv .detailed-info-name-div .name-value-span{
        font-size: 1.5rem;
        font-weight: bold;
    }
    #detailsDiv .detailed-info-gender-div .gender-value-span{
        font-size: 1.5rem;
        text-transform: capitalize;
        font-weight: bold;
    }
    #detailsDiv .detailed-info-height-div .height-value-span{
        font-size: 1.5rem;
        font-weight: bold;
    }
}

